.Navigation {
  display: flex;
  justify-content: space-between;

  a.back {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: var(--primary-clair);
    display: flex;
    align-items: center;
    margin-left: 10px;

    img {
      margin-right: 6px;
      transform: rotate(90deg);
    }
  }

  a.settings {
    margin-right: 10px;
  }
}
