.Input {
  width: 100%;
  font-size: 18px;
  height: 46px;
  color: var(--blanc-projet);
  padding: 0 20px;
  line-height: 46px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: var(--noir-bis);
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
}
