:root {
    --noir: #1F1C21;
    --noir-bis: #29262B;
    --violet: #8360C7;
    --violet-clair: #A281D5;
    --violet-fonce: #7350B9;
    --blanc-projet: #F7F7F9;
    --blanc-fond-clair: #F2F2F2;
    --blanc: #FFFFFF;
    --gris: #7D7D7D;
}

.App {
    background-color: var(--noir);

    min-width: 100vw;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}
